node_modules/
dist/
build/
.next/
coverage/
.cache/
.vscode/
.idea/
*.log
.DS_Store
npm-debug.log*

dist-ssr
*.local

.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.history
.env.local
.env
.dev.vars
*.vars
.wrangler
_worker.bundle

Modelfile
modelfiles

# docs ignore
site

# commit file ignore
app/commit.json